<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhythm003.type1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.rhythm003.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity" />
        <activity android:name=".RegActivity" />
        <activity
            android:name=".GluActivity"
            android:parentActivityName="com.rhythm003.type1.MainActivity"
            android:theme="@style/AppThemeAC" >
        </activity>
        <receiver android:name="com.rhythm003.help.PeriodicReceiver" >
            <intent-filter>
                <action android:name="com.rhythm003.type1.PERI_TASK" />
            </intent-filter>
        </receiver>
        <service android:name="com.rhythm003.help.DbService" />
        <service android:name="com.rhythm003.help.PeriodicService" />
    </application>

</manifest>