<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhythm003.type1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.rhythm003.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Home"
            />
        <activity android:name=".RegActivity" />
        <activity
            android:label="Glucose level"
            android:name=".GluActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeAC" />

        <receiver android:name="com.rhythm003.help.PeriodicReceiver">
            <intent-filter>
                <action android:name="com.rhythm003.type1.PERI_TASK" />
            </intent-filter>
        </receiver>

        <service android:name="com.rhythm003.help.DbService" />
        <service android:name="com.rhythm003.help.PeriodicService" />
        <service android:name="com.rhythm003.help.FitbitService" />
        <activity
            android:label="Calorie Intake"
            android:name=".CalActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeAC"></activity>
        <activity
            android:label="Settings"
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeAC">
            <intent-filter android:label="quickpredict/AUTH">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fitbit"
                    android:scheme="quickpredict" />
            </intent-filter>
        </activity>
        <activity
            android:label="Fitbit Food log"
            android:name=".FitbitCalActivity"
            android:parentActivityName=".CalActivity"
            android:theme="@style/AppThemeAC">

        </activity>
    </application>

</manifest>